<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h1>INSTAGRAM Logo</h1>
    <p>This page belongs to @<%= data.name %> </p> 
    <button>Follow</button>
    <button>Message</button>
    <p>Followers: <%= data.followers %> &nbsp;&nbsp;&nbsp;&nbsp; Following: <%= data.following %></p>
    <hr>
    <% for(let post of data.posts){ %>
        <img src="<%=post.image%>" width="199px" alt="">
        <p>Likes: <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp; Comments: <%= post.comments %></p>
    <%}%>

</body>
</html>